body {
  font-family: Arial;
  margin: 0;
}
header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
nav {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}
nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
}
main {
  padding: 20px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
}
